//////Typography configuration
//
$main-font-style: 'Barlow Semi Condensed', sans-serif;

$em-base: 62.5%;

$heading-1: 3.5em;
$heading-2: 3em;
$heading-3: 2.5em;
$heading-4: 2em;

$p-size: 2em;

$point: pointer;

//////Celestial color palette layout
//
$primary-color: #f0f8ff; //Light blue
$secondary-color: #def0f2; //Darker blue
$tertiary-color: #ffefdb; //Light peach
$quatenary-color: #f7fdce; //Skin color
$just-white: #ffffff;
$border: #6cc7d5;

