@import "typography/manifest";

// .diff-color{
//   @include fonty(null, null, 100);
//   color: #fff;
//   -webkit-animation-delay: 1s;
//   -vendor-animation-delay: 1s;
// }

.el-footer p{
  @include fonty(1.5em, $just-white, 100);
  text-align: center;
  padding: 3em;
}

.contactos-title{
  @include fonty(3em, $secondary-color - 40, 100);
  text-align: center;
  margin-top: 2em;
}
